.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 30rem;
  left: calc(50% - 15rem);
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1002;
  animation: slide-down 300ms ease-out forwards;
  border: 0.3rem solid rgb(198, 190, 190);
}
.authContiner {
  height: 38rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
}
.authContiner::-webkit-scrollbar {
  width: 8px;
}

.authContiner::-webkit-scrollbar-thumb {
  background-color: #242424;
}

.authContiner::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* @media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc(50% - 15rem);
  }
} */
.filterModal {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0;
  border: none;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .authContiner {
    height: 45rem;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
