.starsContainer {
  display: flex;
}
.star {
  width: 20px;
  height: 20px;
  background-color: rgb(171, 169, 169);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.starContent {
  width: 80%;
  height: 20px;
  background-color: #343434;
}
