/* .mainContainer {
  margin: 2rem auto;
  backdrop-filter: blur(1.5rem);
  background-color: rgba(118, 127, 127, 0.2);
  padding: 1rem 0;
  border-radius: 1.5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
} */
.cardContainer {
  margin: 0 auto;
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
.stacked {
  display: grid;
}
.stacked * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.content {
  position: relative;
  align-self: end;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: white; */
}
.content p {
  margin: 0;
}
.item {
  aspect-ratio: 1/1.35;
  overflow: hidden;
  text-decoration: none;
  color: #242424;
}
.image {
  aspect-ratio: 1/1.2;
  width: 100%;
  object-fit: cover;
}
.headline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
}
.subline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.8px;
}
