.loginForm {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoContainer label {
  font-weight: 700;
  font-size: 2rem;
}
.logoImg {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group {
  position: relative;
}
.button {
  font-size: 1rem;
  margin-top: 3rem;
  background-color: #242424;
  border: none;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.26);
  transition: all 0.2s;
}
.button:hover {
  transform: translateY(-3px);
  transition: transform 0.2s;
  background-color: #151414;
}
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.signUpButton {
  padding-left: 3px;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
}
.signUpButton:hover {
  color: #5264ae;
}
.input {
  margin-top: 2rem;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.invalid {
  border-bottom: 2px solid #b40e0e;

  transition: none;
}

.invalid + .bar:before,
.invalid + .bar:after,
.invalid:focus ~ .bar:before,
.invalid:focus ~ .bar:after {
  width: 0;
}

.button:disabled,
.button:disabled:active,
.button:disabled:hover {
  background-color: #ccc;
  color: #3f3f3f;
  border-color: #ccc;
  cursor: not-allowed;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.errorMessage {
  margin: 0.5rem 0 0 0;
  max-width: 13rem;
  color: #b40e0e;
  align-self: start;
}
.errorTopMessage {
  display: flex;
  justify-content: center;
  background-color: #febebe;
  padding: 0.3rem 0;
  margin-bottom: 0.5rem;
  color: #b40e0e;
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}
