.header {
  position: sticky;
  top: 4rem;
  z-index: 9;
  padding: 0.2rem 2rem;
  display: flex;
  justify-content: space-between;

  /* margin-left: 12.6rem; */
}
.dropdownButton {
  background-color: transparent;
  color: #242424;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.dropdownButton:hover {
  background-color: rgb(255, 255, 255, 0.5);
}
.dropdown-content button {
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.filterButton {
  border: none;
  font-size: 1rem;
  color: #242424;
  border-right: 2px solid #242424;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.filterButton:hover {
  background-color: rgb(255, 255, 255, 0.5);
}
.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.heading {
  margin: 0;
  padding-left: 1rem;
  color: #242424;
}
.productsCount {
  color: #242424;
}
