.sortContainer {
  max-width: 80rem;
  background-color: #242424;
  padding: 1.5rem;
  margin: 3rem auto;
}
.line {
  max-width: 85rem;
  margin: 1rem auto;
  border-top: 0.3rem solid orange;
  border-radius: 60%;
}
.productsContainer {
  margin: 0 auto;
  max-width: 90rem;
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
