.shopContainer {
  margin: 0 auto 5rem auto;
  max-width: 100rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.line {
  max-width: 85rem;
  margin: 1rem auto;
  border-top: 0.3rem solid orange;
  border-radius: 60%;
}
.productsContainer {
  padding: 0 1rem;
  padding-top: 0.8rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
