.cartItem {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  margin: 0 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  gap: 4rem;
  border-bottom: 0.1rem solid #b8b4b4;
  /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.26); */
}
.cartItem h3 {
  margin: 0;
}
.cartItem:last-child {
  margin-bottom: 1rem;
  border: none;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.img {
  max-width: 5rem;
  object-fit: fill;
}
.imgContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* .details { */
.actions {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
/* .actions button {
  background: none;
  width: 2rem;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: #242424;
} */

.removeButton {
  background: none;
  border: none;
  justify-self: end;
  margin-right: 2rem;
}
.quantityButton {
  background: none;
  width: 2rem;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  /* color: rgb(255, 255, 255); */
  font-weight: 700;
  /* background-color: #242424; */
}
.quantityButton:hover {
  color: orange;
  border: 1px solid orange;
  transition: all 0.2s;
  /* background-color: #242424; */
}
.removeButton:hover {
  font-size: 1.5rem;
  font-weight: 600;
  color: orange;
  margin-right: 1.87rem;
  transition: all 0.1s;
}
@media only screen and (max-width: 600px) {
  .details {
    flex-direction: column;
    justify-content: center;
  }
  .details p {
    margin: 0;
  }
}
